{% extends 'shop/base.html' %}

{% block title %} My Awesome Cart Tracker {% endblock %}

{% block body %}

<div class="container">

    <div class="row my-4">
        <div class="col">

            <h2 class="my-4">Enter your Order Id and Email to track your order</h2>

            <form method='POST' action='#' id="trackerForm">
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="order_id">Order Id</label>
                        <input type="text" class="form-control" id="order_id" name="order_id" placeholder="Order Id">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-primary">Track Order</button>
                </div>
        </div>
    </div>

    <div class="row my-4">
        <div class="col">
            <h2 class="my-4">Your Order Status</h2>
            <div class="my-4">
                <ul class="list-group" id="items">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <p class="mx-auto my-0">Enter your Order Id & Email and click <em>Track Order</em> to find
                            tracking details.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row my-4">
        <div class="col">
            <h2 class="my-4">Your Order Details</h2>
            <div class="my-4">
                <ul class="list-group" id="citems">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <p class="mx-auto my-0">Enter your Order Id & Email and click <em>Track Order</em> to find
                            tracking details.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block js %}

<script>
    // Be sure to use uncompressed jquery cdn in base.html to enable ajax, otherwise page would still reload after submitting the form
    // Using Jquery and AJAX to submit form and add items without reloading the page
    $('#trackerForm').submit(function (event) {

        $('#items').empty();
        $('#citems').empty();
        var formData = {
            'order_id': $('input[name=order_id]').val(),
            'email': $('input[name=email]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        };

        $.ajax({
            type: 'POST',
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })

        // data refers to the json received through views.py
        .done(function (data) {
            console.log(data);
            data = JSON.parse(data);
            updates = data[0];
            if (updates.length > 0 & updates != {}) {
                for (i = 0; i < updates.length; i++) {
                    let text = updates[i]['text'];
                    let time = updates[i]['time'];

                    // Using ES6 feature of print formatting

                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                        ${text}
                        <span class="badge badge-primary badge-pill">${time}</span>
                    </li>`

                    $('#items').append(mystr);
                };
            }

            else {
                // Using ES6 feature of print formatting

                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    <p class="mx-auto my-0">Sorry, we couldn't fetch the details. Please make sure to type correct Order Id and Email.</p>
                </li>`

                $('#items').append(mystr);
            }

            // Fill the Order Details

            cart = JSON.parse(data[1]); // Because data[1] is a string and we need JSON
            console.log(cart);
            for (item in cart) {
                let name = cart[item][1];
                let quantity = cart[item][0];
                

                // Using ES6 feature of print formatting

                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-primary badge-pill">${quantity}</span>
                </li>`

                $('#citems').append(mystr);
            }
        });

        // Prevent Form from reloading the page after submitting
        event.preventDefault();
    });

</script>

{% endblock %}